.checkoutForm label{
    font-size:16px !important;
    font-weight:600;
}
.checkoutForm input{
    font-size:14px !important;
}
.whatsappChat {
    position: fixed;
    bottom: 10%;
    left: 10%;
    z-index: 1000;
}
